$color-bg = #797979
$color-link = #1f5f97
$color-brown = #2f1b15
$color-gray = #231f20
$color-gray-light = #3d3d3d
$color-black = #000

$font-pt = 'PT Sans', sans-serif;
$font-courier = "Courier New", Courier, monospace;
