.field-textarea
	overflow hidden
	width 100%
	min-height 180px
	font-family $font-courier
	font-size 30px
	line-height 60px
	background url('../images/input-line.png') repeat-y left -10px
	border none
