include ../main-info/main-info
include ../skills/skills
include ../script-skill/script-skill
include ../future/future
include ../field-input/field-input
include ../field-textarea/field-textarea

mixin application()
	-
		var about = 'Занимаюсь веб-разработкой с 2013 года. Хорошо знаком с HTML5, CSS3, JavaScript (es6). Верстаю по БЭМ. В работе использую SCSS, Pug, Gulp.'

		set_bemto_settings({
		modifier: '--'
		})


	+b.MAIN.application&attributes(attributes)
		+e.HEADER.header
			+e.top
				+e.IMG.logo(src="assets/images/logo.png" alt="CSSSR")
				+e.IMG.stamp(src="assets/images/stamp.png" alt="Секретно")
			+e.IMG.title(src="assets/images/head.png" alt="Дело")

		+e.SECTION.section--main-info
			+main-info

		+e.SECTION.section--skills
			+e.H1.heading Расскажите о себе чекбоксами
			+e.P.description--skills
				| Отметьте чекбоксами пункты, которые соответствуют вашим скиллам.
				| Кстати, отсутствие опыта не означает, что у вас меньше шансов стать одним из наших товарищей.
				| Это означает, что вы будете получать те задачи, с которыми гарантировано будете справляться.
			+skills

		+e.SECTION.section--script-skill
			+e.H2.heading--wide Уровень владения JavaScript
			+script-skill

		+e.SECTION.section--about
			+e.H3.heading Расскажите о себе словами
			+e.P.description--about
				| Напишите пару предложений, чем вас привлекла наша вакансия и чего вы ожидаете от работы в CSSSR.
				| Кстати, будет здорово, если при нехватке места для текста строки будут добавляться автоматически.
			+field-textarea(about)

		+e.SECTION.section--future
			+e.H3.heading--tight Какие у вас планы на будущее?
			+e.P.description--future Этот ответ ни на что не повлияет. Не беда, если в будущем ваши планы поменяются.
			+future

		+e.SECTION.section--date
			+field-input({name: 'Дата заполнения', value: '15.12.2018'})
