include ../field-checkbox/field-checkbox

mixin skills()
	-
		var data = [
			[
				{name: 'БЭМ/OOCSS', value: true},
				{name: 'Pug (Jade)', value: true},
				{name: 'Stylus/LESS/SASS', value: true},
				{name: 'Работаю с SVG', value: true},
				{name: 'Верстаю семантично', value: true},
				{name: 'Accessibility (A11Y)', value: false},
				{name: 'ES2015/ES2016', value: true}
			],
			[
				{name: 'Gulp/GRUNT', value: true},
				{name: 'Webpack', value: false},
				{name: 'Дружу с WebGL', value: false},
				{name: 'jQuery', value: true},
				{name: 'Знаю/изучаю Angular', value: false},
				{name: 'Знаю/изучаю React', value: true},
				{name: 'Знаю/изучаю Node.js', value: false}
			],
			[
				{name: 'Использую Git', value: true},
				{name: 'С глазомером всё ок', value: true},
				{name: 'Читаю <a href="//blog.csssr.ru" target="_blank">blog.csssr.ru</a>', value: false},
				{name: 'Я ленивый(-ая)', value: false},
				{name: 'У меня хороший английский', value: false}
			]

		]

	+b.skills&attributes(attributes)
		each section in data
			+e.list
				each element in section
					+e.item
						+field-checkbox(element)
