.field-input

	label
		display flex
		align-items  flex-end

	&__name
		margin-right 15px
		font-size 22px
		font-weight 700
		white-space nowrap
		letter-spacing .01em
		color $color-brown

	&__value
		flex-grow 1
		background url('../images/input-line.png') no-repeat right bottom

		input
			padding 0 15px 8px
			width 100%
			font-family $font-courier
			font-size 30px
			background none
			border none
