.field-checkbox

	label
		position relative
		padding-left 28px
		display block
		cursor pointer

	input
		display none

	&__name
		font-size 21px
		font-weight 700
		letter-spacing -.1px
		color $color-black

		&::before,
		&::after
			position absolute
			display block
			content ' '
			transition .2s

		&::before
			sprite($checkbox_box)
			z-index 1
			top 3px
			left 1px

		&::after
			sprite($checkbox_check)
			z-index 2
			top -7px
			left 5px
			opacity 0

			input:checked + &
				opacity 1
